{% extends "base.html" %} {% block title %}Add Posts{% endblock %}

{%block content%}

<div class="d-flex p-5">
    <form method="POST" , action="/add">
        <p align = "center">Title</p> 
        <textarea name="title" id="title" class="form-control"></textarea>
        <p align="center">Content</p>
        <textarea name="note" id="note" class="form-control"></textarea>
        <br />
        <div style="width:800px; margin:0 auto;">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>
{%endblock%}