{% extends "base.html" %} {% block title %}Add Posts{% endblock %}

{%block content%}

{% if user.discussions%}
<div class="d-flex p-5">
    <form method="POST" , action="/add">
        <p align = "center">Title</p> 
        <textarea name="title" id="title" class="form-control"></textarea>
        <p align="center">Content</p>
        <textarea name="note" id="note" class="form-control"></textarea>
        <br><br><p align="center">Choose one of the following discussions</p>
        <select name="discussion_select" class="selectpicker form-control">
            {% for discussion in user.discussions%}
            <option value="{{discussion.discussion_name}}">{{discussion.discussion_name}}</option>
            {% endfor %}
        </select>
        <br />
        <div style="width:800px; margin:0 auto;">
            <button type="submit" class="btn btn-primary">Add Note</button>
        </div>
    </form>
</div>

{%else%}
<h3>You are currently not a member of any group. <a href="/addGroup">Join an existing group or create a group!</a></h3>
{%endif%}
{%endblock%}

<!-- all groups / specific group -->