{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Posts</h1>
<a href="/add">
  <button class="btn btn-primary">Add Post</button>
</a>
<ul class="list-group list-group-flush" id="notes">
  {% for discussion in current_user.discussions%}
  {% for note in discussion.posts%}
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <h5 align="center" class="card-title"><a href="{{url_for('profile.viewProfile', user_id = note.author.id)}}">{{note.author.first_name}}</a> -> {{discussion.name}}</h5>
        <h6 align= "center" class="card-title">{{note.title}}:  <span>{{note.date}}</span></h6>
        <p class="card-text">{{ note.data }}</p>
        {%if note.user_id == user.id%}
        <button type="button" class="close" onClick="deleteNote({{ note.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
        {%endif%}
      </div>
    </div>
  {% endfor %}
  {%endfor%}
</ul>
{% endblock %}
