{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Posts</h1>
<a href="/add">
  <button class="btn btn-primary">Add Post</button>
</a>
<br>
{%for post in this_discussion.posts%}
{{this_discussion.id}}
{%endfor%}
<ul class="list-group list-group-flush" id="posts">
  {%for post in posts%}
  {{post}}
    <div class="card" style="width: 80rem;">
      <div class="card-body">
        <h5>
          {{post.discussion_name}}</h5>
          <h5 align="center" class="card-title"><a href="{{url_for('profile.viewProfile', user_id = post.user_id)}}">{{post.first_name}}</a> ->
            {{post.discussion_name}}</h5>
        <h6 align= "center" class="card-title">{{post.title}}:  <span>{{post.date}}</span></h6>
        <p class="card-text">{{ post.data }}</p>
        {%if post.user_id == user.id%}
        <button type="button" class="close" onClick="deletePost({{ post.id }})">
          <span aria-hidden="true">&times;</span>
        </button>
        {%endif%}
      </div>
    </div>
  {%endfor%}
</ul>
{% endblock %}
