{% extends "base.html" %} {% block title %}{{user.first_name}}'s Profile{% endblock %} {% block content
%}
<form method="POST" enctype="multipart/form-data">
    <br><br><h3 align="center">Profile</h3> <br/><br/>
    <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{image_file}}">
        </div>
        <!-- I spent an hour trying to find out what was wrong. Turns out you needed a csrf_token to validate -->
        {{ form.csrf_token }}
        <!-- Source: https://stackoverflow.com/a/36441047/16900678 -->
        {%if user.id == current_user.id%}
        <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
                {% for error in form.picture.errors %}
                    <span class="text-danger">{{ error }}</span></br>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
        {%endif%}
      </div>
    <p class="profile__heading">Name: <span class="profile__heading-data">{{ user.first_name}}</span></p>
    <p class="profile__heading">Email: <span class="profile__heading-data">{{ user.email }}</span></p>
    {%if user.id == current_user.id%}
    <a href="/updateProfile">
        Update Info
    </a>
    {%endif%}

    <ul class="list-group list-group-flush" id="notes">
        <br/>
        <h3>Recent Posts</h3>
        {% for note in notes %}
        {%if note.user_id == user.id %}

        <div class="card-body">
            <div class = "text-capitalize">
                <div class = "font-weight-bold">
                    {{note.title}}
                </div>
                {{note.date}}
            </div>
            <br>
            {{ note.data }}
            {%if user.id == current_user.id%}
            <button type="button" class="close" onClick="deleteNote( {{ note.id }} )">
                <span aria-hidden="true">&times;</span>
            </button>
            {%endif%}
        </div>
        {% endif %}
        {% endfor %}
        <br/>
        <h3>Discussions</h3>
        {% for discussion in user.discussions %}
        <li class="list-group-item">
            {{discussion.discussion_name}}
            {%if user.id == current_user.id%}
            <h5 align="center"><a href="{{url_for('views.leaveGroup', discussion_id=discussion.id) }}">Leave Group</a></h5>
            {%endif%}
        </li>
        {% endfor %}
        
    </ul>
</form>
{% endblock %}