{% extends "base.html" %} {% block title %}{{user.first_name}}'s Profile{% endblock %} {% block content
%}
<form method="POST">
    <br><br><h3 align="center">Profile</h3> <br/><br/>
    <p class="profile__heading">Name: <span class="profile__heading-data">{{ user.first_name}}</span></p>
    <p class="profile__heading">Email: <span class="profile__heading-data">{{ user.email }}</span></p>
    {%if user.id == current_user.id%}
    <a href="/updateProfile">
        Update Info
    </a>
    {%endif%}

    <ul class="list-group list-group-flush" id="notes">
        <br/>
        <h3>Recent Posts</h3>
        {% for note in notes %}
        {%if note.user_id == user.id %}

        <div class="card-body">
            <div class = "text-capitalize">
                <div class = "font-weight-bold">
                    {{note.title}}
                </div>
                {{note.date}}
            </div>
            <br>
            {{ note.data }}
            {%if user.id == current_user.id%}
            <button type="button" class="close" onClick="deleteNote( {{ note.id }} )">
                <span aria-hidden="true">&times;</span>
            </button>
            {%endif%}
        </div>
        {% endif %}
        {% endfor %}
        <br/>
        <h3>Discussions</h3>
        {% for discussion in user.discussions %}
        <li class="list-group-item">
            {{discussion.name}}
            {%if user.id == current_user.id%}
            <h5 align="center"><a href="{{url_for('views.leaveGroup', discussion_id=discussion.id) }}">Leave Group</a></h5>
            {%endif%}
        </li>
        {% endfor %}
        
    </ul>
</form>
{% endblock %}